.about {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 500px;
  text-align: center;

  &__title {
    margin-bottom: 2rem;

    @media (max-width: 992px) {
      font-size: 2.5rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}