.Alert {
  &__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hidden {
  display: none;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transition: opacity .5s;
}

.alert-exit-active {
  opacity: 0;
  transition: opacity .3s;
}