.Navbar {
  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    @media (max-width: 576px) {
      justify-content: space-between;
    }
  }

  &__list {
    @media (max-width: 992px) {
      flex-direction: row;
    }
  }

  &__item {
    @media (max-width: 992px) {
      margin-right: 20px;
    }
  }
}