.notes {
  max-width: 825px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
  }
}

.note-enter-active {
  animation: note .7s alternate-reverse;
}

.note-exit-active {
  animation: note .8s forwards;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}